@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Manrope', sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* primaries */
  --success: #0F9D58;
  --info: #009DC4;
  --warning: #FFCC00;
  --danger: #B22222;

  /* clean web */
  --light-bg: #f4eded;
  --light-frame: #d3d0d0;
  --light-font: #596E79;
  --dark-bg: #575C62;
  --dark-frame: #838B91;
  --dark-font: #BFC4C5;

  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);

  --box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  --box-shadow-strong: rgba(0, 0, 0, 0.3) 0px 4px 12px;
}

* {
  scroll-behavior: smooth;
  color: var(--light-font);
}

.text-gradient {
  /** TEXT GRADIENT */ color: #fa754d; background-image: -webkit-linear-gradient(0deg, #fa754dbb 0%, #d96845 33%, #bd552fbe 66%); background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent;
}

.button-gradient {
  background-color: inherit;
  border: 4px solid rgba(128, 128, 128, 0.295);
  box-shadow: var(--box-shadow);
  transition: all 0.5s ease;
}

.button-gradient:hover {
  box-shadow: var(--box-shadow-strong);
  transition: all 0.5s ease;
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.bg-sidebar {
  border-radius: 0;
  margin: 0;
  width: 100%;
  background-color: var(--light-bg);
  box-shadow: var(--box-shadow);
}

.bg-sidebar li:hover {
  text-decoration: underline;
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #765821 0%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 50%, #fc67fa 0%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}
